<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand logotype" href="#">
      <img src="./assets/Lightsout-logo.svg" alt="logotype">
    </a>

    <button
      class="navbar-toggler collapsed shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav topnav ms-auto">
        <li class="nav-item active me-4">
          <a class="nav-link" href="#" routerLink="/solve" routerLinkActive="active">solve problem</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#" routerLink="/create" routerLinkActive="active">create problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/instructions" routerLinkActive="active">instructions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
