<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">LIGHTS OUT</a>

    <button
      class="navbar-toggler collapsed shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active me-4">
          <a class="nav-link" href="#">Solve problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create problem</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
