
.logotype img {
  width: 22vh;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent !important;
  border: 0 !important;
}

.navbar-toggler-icon,
.navbar-toggler {
  outline: none;
  box-shadow: none;
  border-color: transparent !important;
  border: 0 !important;
  padding-right: 1vh !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28219, 213, 209, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.topnav a:focus,
.topnav a:hover {
  color: gold !important;
}

.topnav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.5vmin;
}

.nav-link {
  color: #dbd5d1;
}

.nav-link.active {
  color: gold;
}

@media only screen and (max-width:575px) {

  .navbar-brand {
    font-size: 4vmin;
  }

  .topnav a {
    font-size: 3.5vmin;
  }

}
