<div class="container-body container-fluid d-flex flex-column min-vh-100">
  <div id="instructions">
    <span style="color: gold">LIGHTS OUT </span> is a puzzle game that can be played
    on a grid of lights.<br>The objective is to turn off all the lights on the grid.
    <br><br>
    To play the game, follow these steps:
    <br>
    <span style="color: gold">1.</span> Start with a grid of lights, some of which are turned on. <br>
    <span style="color: gold">2.</span> Clicking a light will toggle it, as well as the adjacent lights (up, down, left, and right). <br>
    <span style="color: gold">3.</span> The objective is to turn off all the lights on the grid.
    <br><br>
    Here are some tips to help you solve the puzzle:
    <br>
    <span style="color: gold">1.</span> Try to turn off the lights on the edge of the grid first. <br>
    <span style="color: gold">2.</span> If you get stuck, try to click random lights and see if it helps. <br>
    <span style="color: gold">3.</span> If you want a real challenge, try to solve the puzzle in as few moves as possible. <br>
    <br>
    <span id="goodLuck">GOOD LUCK!</span>
  </div>
</div>

